<h2>欢迎加入NetUnion</h2>
<p class="desc">电子科技大学NetUnion招新</p>
<div class="fieldset-content">
    <h4>NetUnion 简介:</h4>
    <p><b>研发部</b></br>根据 NetUnion 内部需求，建⽴并维护⾃⼰的服务/⽹站</p>
    <p><b>运维部</b></br>轮流值班处理⽹络问题，⽤计算机⽹络知识排错，按值班天数发⼯资</br>建设⾃动化运维体系，如⽇志，告警等，提⾼效率，减少重复劳动</p>
    <p><b>TODO</b></br>重建镜像站</p>
    <p><b>环境</b></br>24 ⼩时供电，独⽴⽹络接⼊，空调，⼯位充⾜</br>充裕的经费⽤于购买书籍或其他⽤品</br>PC，打印机等⼀些便利设施</p>
    <button class="button-styled" id="index-button">更多细节</button>
</div>