<h2>掌握/了解知识</h2>
<p class="desc">在这里描述您掌握的必要技能和已经了解的知识。</p>
<div class="fieldset-content">
    <div class="form-group">
        <label for="knowledge" class="form-label">掌握/了解知识</label>
        <textarea class="text-content" rows="40" name="knowledge" id="knowledge" required>
{{form_data.default.knowledge}}
            </textarea>
        <span class="text-input">可以使用Markdown</span>
    </div>
</div>