<h2>校内/项目经历</h2>
<p class="desc">在这里简要阐述您参加过的相关项目的列表。</p>
<div class="fieldset-content">
    <div class="form-group">
        <label for="experience" class="form-label">校内/项目经历</label>
        <textarea class="text-content" rows="40" name="experience" id="experience" required>
{{form_data.default.experience}}
        </textarea>
        <span class="text-input">可以使用Markdown</span>
    </div>
</div>