<h2>爱好/评价/规划</h2>
<p class="desc">在这里简要阐述您未来的规划和自我评价。</p>
<div class="fieldset-content">
    <div class="form-group">
        <label for="plan" class="form-label">爱好/评价/规划</label>
        <textarea class="text-content" rows="40" name="plan" id="plan" required>
{{form_data.default.plan}}
        </textarea>
        <span class="text-input">可以使用Markdown</span>
    </div>
</div>