<h2>点击”提交按钮即可提交申请“</h2>
<p class="desc">如需更改，请再次提交。</p>
<div id="recaptcha_element"></div>
<div class="fieldset-content">
    <div id="submit-loading" style="display: none;">
        提交中...
    </div>
    <div id="submit-success" style="display: none;">
        <h2>提交成功</h2>
        您可以关闭本页了。
    </div>
    <div id="submit-error" style="display: none;">
        <h2>提交失败：</h2>
        <div id="submit-error-desc"></div>
    </div>
</div>